{% extends 'generador/layout.html'%}

{% block conten %}


<!-- <div class="col-md-4 offset-md-4 "> -->

<div class="card crad-body text-center p-4">

    <div class="card text-center bg-secondary" >
        <div class="card-header" >
          ¡Esta Hecho!
        </div>
        <div class="card-body" >

 
          <h7 class="card-title ">Tu password generado es:</h7> <br>
          <br>

        <div class="card crad-body text-center bg-warning col-md-4 offset-md-4">
          <p class="card-text"><h2>{{ password }}</h2></p>
        </div>
<br>
          <a href="{% url 'home' %}" class="btn btn-primary btn-info">Regresa a Inicio</a>
        </div>

      </div>




</div>

<!-- </div> -->

{% endblock %}